.our-properties-main{
    padding: 150px 80px;
    background-color: aliceblue;
    color: black;
}
.goa-properties{
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-bottom: 80px;
}
.our-properties-content{
    font-size: 18px;
    margin-left: 20px;
}
.our-properties-content h2{
padding: 0;
}
.img-container{
    padding-top: 10px;
}
.img-container img{
   padding: 0;

}
.our-properties-content > .book-button{
    padding: 5px 30px;
    border: none;
    background-color: orange;
}

.our-properties-content > .book-button:hover{
    background-color: #009fe1;
}