* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
  background-color: rgb(198, 197, 197);
}

::-webkit-scrollbar {
  background-color: rgba(240, 248, 255, 0.446);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 102, 0, 0.394); 
}
